{% extends "blog/base.html" %}
{% load static %}


{% block title %}Nate's Blog{% endblock %}

{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static "img/home-bg.jpg" %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Nate's Blog</h1>
            <span class="subheading">A Blog where I write about things I'm doing.</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      {% for post in posts %}
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="{{ post.get_absolute_url }}">
            <h2 class="post-title">
              {{ post.title }}
            </h2>
            <h3 class="post-subtitle">
              {{ post.body|truncatewords:30|linebreaks }}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{ post.author }}</a>
            on {{ post.publish }}</p>
        </div>
        <hr>
      </div>
      {% endfor %}
    </div>
  </div>
  {% include "pagination.html" with page=page_obj %}
{% endblock %}
